* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Makinas";
    src: url("fonts/Makinas-4-Square.otf") format("opentype");
    font-display: swap;
}

html,
body {
    height: 100%;
}

body {
    margin: 0px;
    font-family: sans-serif;
    text-align: center;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6C7B92;
    background: radial-gradient(#E6EFF6, #C9DCEA);
}

h1 {
    margin-top: 30px;
}

main {
    flex: 1;
}

.card {
    margin: 10px auto;
    padding: 2vh 3vw;
    width: 100%;
    max-width: 500px;
    border-radius: 30px;
    background: radial-gradient(#D5E0E8, #E8F2F7);
    border: 2px solid #DEE9F3;
    box-shadow:
        -5px -5px 30px rgba(255, 255, 255, 0.8),
        5px 5px 50px rgba(0, 40, 100, 0.3);
}

.summary {
    cursor: pointer;
    text-indent: -1em;
    padding-left: 1em;
    word-break: auto-phrase;

    margin: 10px auto;
    padding: 2vh 3vw;
    width: 90vw;
    max-width: 500px;
    border-radius: 30px;
    background: radial-gradient(#D5E0E8, #E8F2F7);
    border: 2px solid #DEE9F3;
    box-shadow:
        -5px -5px 30px rgba(255, 255, 255, 0.8),
        5px 5px 50px rgba(0, 40, 100, 0.3);
}

summary::before {
    content: "Q. ";
}

.panel {
    display: block grid;
    transition: grid-template-rows 0.5s;
    margin: 10px auto;
    width: 90vw;
    max-width: 500px;
    border-radius: 30px;
    background: radial-gradient(#D5E0E8, #E8F2F7);
    border: 2px solid #DEE9F3;
    box-shadow:
        -5px -5px 30px rgba(255, 255, 255, 0.8),
        5px 5px 50px rgba(0, 40, 100, 0.3);
}

.inner {
    overflow: hidden;
}

.inner p {
    margin: 5%;
    text-align: start;
    padding-left: 1.5em;
    word-break: auto-phrase;
}

.inner p::before {
    content: "A. ";
    margin-left: -1.0em;
}

.inner p .material-icons {
    font-size: 1.2em;
    vertical-align: middle;
    display: inline-block;
}

h2 {
    margin-top: 2em;
}

.drop {
    padding: 2%;
    border-radius: 100%;
    background: radial-gradient(#D5E0E8, #E8F2F7);
    border: 2px solid #DEE9F3;
    box-shadow:
        -5px -5px 30px rgba(255, 255, 255, 0.9),
        5px 5px 50px rgba(0, 40, 100, 0.4);
}

span.drop.material-icons {
    font-size: 3em;
}


.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 10px 0;
}

select {
    color: #6C7B92;
    padding: 10px 12px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    background: radial-gradient(#D5E0E8, #E8F2F7);
    border: 2px solid #DEE9F3;
    box-shadow:
        -5px -5px 30px rgba(255, 255, 255, 0.8),
        5px 5px 50px rgba(0, 40, 100, 0.3);
}

input[type=submit] {
    padding: 8px 20px;
    border-radius: 50px;
    border: none;
    background: #6C7B91;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

a {
    color: #6C7B91;
}

#status a {
    color: #6C7B91;
    text-decoration: none;
}

.highlight {
    box-shadow: -5px -5px 30px 0px rgba(100, 200, 255, 0.3),
        5px 5px 50px 0px rgba(0, 100, 40, 0.1) !important;
}

.hide {
    display: none !important;
}


.anim-box.popup.is-animated {
    animation: popup 1.0s 1 cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes popup {
    0% {
        transform: translateY(-40px) scale(0.8);
        opacity: 0;
    }

    100% {
        transform: translateY(0) scale(1.0);
    }

    80%,
    100% {
        opacity: 1;
    }
}

#status {
    margin: 10px auto;
    width: 100%;
    max-width: 500px;
    border-radius: 30px;
    background: radial-gradient(#D5E0E8, #E8F2F7);
    border: 2px solid #DEE9F3;
    box-shadow:
        -5px -5px 30px rgba(255, 255, 255, 0.8),
        5px 5px 50px rgba(0, 40, 100, 0.3);
}

#loading {
    margin: 20px auto;
    width: 300px;
    color: white;
    background: #6C7B91;
    font-size: 150%;
    border-radius: 10px;
}

footer {
    font-size: 0.9em;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

/* ©2026 tarutarusosu029 */